<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Surrogate application</title>
    <meta name="description" content="" />
  </head>
  <body style="margin: 0px; display: flex; flex-direction: column; min-height: 100vh;">
    <header style="background-color:lightskyblue; text-align:center;color: grey;">
      <i>header</i>
    </header>
    <main style="flex: 1;">
      <div>
      <h1>Home page for a surrogate app</h1>
      <p>
        add <a href="/authorization/">/authorization/</a> to use logging system
      </p>
    </div>
    </main>
    <footer style="background-color:lightskyblue; text-align:center; color: grey;">
      <i>footer</i>
    </footer>
  </body>
</html>
